@define-color color_bg #ff0066;
@define-color toast_bg #222036;
@define-color font_color #fafafa;
@define-color start_grad #3f5efb;
@define-color end_grad #fc466b;

@import "colors.css";

/* General */

* {
  border-radius: 10px;
  transition: all 0.2s ease;
}

.background {
  background-color: rgba(0, 0, 0, 0);
}

.widget {
  font-family: BlexMono Nerd Font;
  font-size: 15px;
  background: linear-gradient(45deg, @primary, @tertiary);
  box-shadow: none;
  border: none;
  color: @on_primary;
}

/* SysInfo */

.sysinfo {
  margin-right: 10px;
}
.sysinfo .item {
  padding: 0px 2px;
}

/* Clock */

.clock {
  font-family: Pacifico;
  font-size: 16px;
}
.clock:hover {
  background: radial-gradient(@primary, @tertiary);
}
.popup-clock .calendar {
  font-family: Pacifico;
  font-size: 16px;
  background: linear-gradient(45deg, @primary, @tertiary);
  color: @on_primary;
  border: none;
}

/* Tray */

.tray {
  background: linear-gradient(45deg, @primary, @tertiary);
  padding: 0px 10px;
  margin-right: 10px;
}

/* Upower */

.upower {
  margin-right: 10px;
}

/* Volume */
.volume {
  margin-left: 10px;
}
