@import "colors.css";

/* General */

* {
  border-radius: 10px;
  transition: all 0.3s ease;
  font-family: Maple Mono NF;
  font-style: italic;
  font-weight: 650;
}

.background {
  background-color: rgba(0, 0, 0, 0);
  backdrop-filter: blur(10px);
}

.widget {
  font-size: 15px;
  box-shadow: none;
  border: none;
  opacity: 0.8;
  margin-left: 5px;
  margin-right: 5px;
  background-color: @primary_container;
  color: @on_primary_container;
  /* backdrop-filter: blur(10px); */
}


.popup, contents {
  background-color: @surface_container_highest;
  /* backdrop-filter: blur(10px); */
  color: @on_surface;
  border: none;
  /* opacity: 0.8; */
}

#bar #start {
  margin-left: 5px;
}

#bar #end {
  margin-right: 5px;
}

*:hover {
  opacity: 0.99;
}

.item,
.button
{
  background: @primary_container;
  color: @on_primary_container;
  border: none;
  box-shadow: none;
}

button {
  background: @tertiary;
  color: @on_tertiary;
  box-shadow: none;
  border: none;
}

.switch:checked, highlight {
  background: @tertiary;
}

.switch {
  background: @tertiary_container;
}

tooltip {
  border: none;
}

tooltip box {
  background: @surface_container_highest;
  color: @on_surface;
  padding: 0.6em;
}


/* Tray */
.tray .item {
  padding: 0.1em;
}

.tray {
  padding: 0px 10px 0px 10px;
}

arrow {
  background: rgba(0, 0, 0, 0);
  border: none;
}

/* Notifications */
.notifications .button {
  padding: 0px 20px 0px 10px;
}

.notifications .count {
  padding: 0px 3px 0px;
}

/* SysInfo */
.sysinfo {
  padding: 0px 4px;
}

/* Battery */
.battery {
  
}

/* Bluetooth */
.popup-bluetooth {
  padding: 1em;
}

.popup-bluetooth .header .label {
  margin-left: 30px;
}

.popup-bluetooth .devices {
  margin-top: 30px;
  margin-bottom: 15px;
}

.popup-bluetooth .devices .box .device {
  padding: 8px 0px 8px 0px;
}

/* Volume */
.popup-volume .device-box .btn-mute{
  margin-right: 160px;
  margin-left: 160px;
}

/* Network */
.network_manager {
  padding: 8px;
}

/* Clock */
.popup-clock .calendar {
  background: @surface_container_highest;  
  color: @on_surface;
}

.today {
  box-shadow: 1px 1px 1px 1px @shadow;
}

label:selected {
  background: @tertiary;
  outline: none;
}
