@import "colors.css";

/* General */

* {
  border-radius: 10px;
  transition: all 0.3s ease;
}

.background {
  background-color: rgba(0, 0, 0, 0);
}

.widget {
  font-family: BlexMono Nerd Font;
  font-size: 15px;
  background: linear-gradient(45deg, @primary_container, @tertiary_container);
  box-shadow: none;
  border: none;
  opacity: 0.9;
  margin-left: 5px;
  margin-right: 5px;
  color: @on_primary_container;
}

/* SysInfo */

.sysinfo {
  padding: 0px 8px;
}
.sysinfo .item {
  padding: 0px 2px;
}

/* Clock */

.clock {
  font-family: Pacifico;
  font-size: 16px;
}
.clock:hover {
  background: radial-gradient(@primary_container, @tertiary_container);
}
.popup-clock .calendar {
  font-family: Pacifico;
  font-size: 16px;
  background: linear-gradient(45deg, @primary_container, @tertiary_container);
  color: @on_primary_container;
  border: none;
}

/* Tray */

.tray {
  padding: 0px 10px;
}

/* Upower */

.upower {
  margin-right: 10px;
}

/* Volume */
.volume {
}

#cava {
  padding: 0px 20px;
}

.music {
  margin-left: 10px;
}
